<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Informacion solicitada - Xlocker</title>
    </head>
<body>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">
            <span class="preheader">Un usuario ha solicitado información.</span>
            <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="main">
              <tr>
                <td class="wrapper">
                  <p>Nombre</p>
                  <p><b>{{CustomerName}}</b></p>
                  <p>Usuario:</p>
                  <p><b>{{CustomerEmail}}</b></p>
                  <p>Telefono:</p>
                  <p><b>{{CustomerPhone}}</b></p>
                  <p>Mensaje:</p>
                  <p><b>{{Message}}</b></p>
                </td>
              </tr>
            </table>
            </div>
        </td>
      </tr>
    </table>
</body>
</html>