<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Recuperar Acceso - Assets10</title>
    </head>
<body>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">
            <span class="preheader">Recuperar contraseña.</span>
            <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="main">
              <tr>
                <td class="wrapper">
                  <p>Hola!</p>
                  <p><b>{{CustomerName}}</b></p>
                  <p>Usted ha solicitado la <b>recuperación</b> de sus datos de acceso:</p>
                  <br />
                  <p><b><mark>Datos de Acceso:</mark></b></p>
                  <br />
                  <p><b>Usuario:</b> {{CustomerEmail}}</p>
                  <p><b>Clave:</b></p>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                    <tbody>
                      <tr>
                        <td align="left">
                          <a href="{{ResetURL}}">Recuperar Contraseña</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </table>
            </div>
        </td>
      </tr>
    </table>
</body>
</html>